numpy
scipy
opencv-python
Pillow
torch
torchvision
git+https://github.com/matthias-k/DeepGaze.git
git+https://github.com/openai/CLIP.git
einops
opt-einsum
hdf5storage
matplotlib
pycocotools
pandas
seaborn
tqdm
scikit-image
geopandas
pyyaml
